# separately install pytorch & pytorch-geometric requirements

numpy
scipy
torch-geometric
pathfinding
tqdm
wandb
gym
plotly
networkx

# for sokoban trace
imageio
pdfrw 

# gym-sokoban <- custom modifications included
# stable-baselined <- vec_env included